#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #2c2b30, #4f4f51);
    padding: 0 !important;
    width: 100%;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler-icon {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}